Thanks for visiting this direction page on the <%= context %> in GitLab. This page belongs to the [Personal productivity group](https://about.gitlab.com/handbook/product/categories/#personal_productivity-group) within the Manage Stage and is maintained by [Jeff Tucker](https://gitlab.com/jtucker_gl).

This direction page is a work in progress, and everyone can contribute:

- Please comment and contribute in the linked [issues](https://gitlab.com/groups/gitlab-org/-/issues/?sort=weight&state=opened&label_name%5B%5D=<%= label %>&first_page_size=20) and [epics](https://gitlab.com/groups/gitlab-org/-/epics?state=opened&page=1&sort=start_date_desc&label_name[]=<%= label%>).
- Please share feedback directly via email, X (formerly Twitter), or [on a video call](https://calendly.com/jtucker-gitlab/30min).